.cardStyle{
background-color: #FFFFFF;
border-radius:10px;
/* width:250px;
height:560px; */
margin-left: 2px;
}
.fourthCard{
    background-image: linear-gradient(#004CD4, #679DFF);
    color:white;
}
.title{
    color:white;
}
/* .cardStyle:hover {
    width:272px;
    height:610px;
    box-shadow: 5px 5px 20px whitesmoke;
    color:red;
    scale:1;
} */