.btn{
    border: none;
    background-color: white;
    color: #FFB229;
    height: 45px;
    width: 145px;
    border-radius: 6px;
}
.Invitebtn{
    background-color: #004CD4;
    padding: 10px 30px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}