html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* //projects */
.main-bg{
  background-color: #F3F5F7;
}

.projectInput{
  border: none;
  background-color: #E8F0FF;
  color: #004CD4;
  width: 100%;
  padding: 10px 15px;
  position: relative;
}
.searchIcon{
  position: absolute;
  right: 10px;
  top: 20%;
  z-index: 10;
  font-size: 25px;
  color: #004CD4;
  border-radius: 10px;
  
}
.btn{
  border: none;
  cursor: pointer;
  background-color:#004CD4 ;
  padding: 10px 30px;
  color: white;
  width: 70%;
}
.bg-project{
  margin-top: 50px;
  background-color: #E8F0FF;
  overflow-y: auto ;
  border-radius: 15px;
  height: 70vh;
}
/* .projectCard{
  
} */
.projectCardItems{
  color: #564ACB;
  font-size: 12px;
}
.projectCardItem{
  height: 200px;
  margin: 20px;
  background-color: white;
  color: #564ACB;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main{
  height: 100vh;
  position: relative;
}

/* ===== */

.cursor-poiter{
  cursor: pointer;
}

/* ======= */
.textColor{
  color: #004CD4;
}
/* ==== */
.fs-22{
  font-size: 22px;
}
.lh-12{
  line-height: 12px;
}