.card{
    background-color: white;
    width: 400px;
    height: 285px;
    margin: 20px 20px 0px 0px;
}
.cardText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}